# Xcode
build/
DerivedData/
*.xcuserdata
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# OS
.DS_Store
*.swp
*~
